<p id="notice"><%= notice %></p>
<%= debug @room.user %>
<p>
<b>Name:</b>
<%= @room.name %>
</p>

<p>
<b>User ID:</b>
<%= @room.user.id %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
